/** @format */

.footer {
	width: 100%;
	background-color: var(--color-grey-900);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 10%;
	color: var(--color-grey-50);
	flex-wrap: wrap;
	margin-top: 4.5rem;
	font-size: var(--size-5);
}

.footer nav {
	margin-top: 1rem;
}

.footer ul {
	list-style: none;
	display: flex;
	align-items: baseline;
	margin: 0;
	padding: 0;
}

.footer li {
	margin: 0 var(--size-4);
}

.footer .icon {
	color: var(--color-grey-50);
	font-size: var(--size-8);
}

.footer .icon:hover {
	color: var(--color-grey-200);
}

.footer a:hover,
.footer a:active,
.footer a.active {
	color: var(--color-grey-200);
}

.copyRight a {
	margin: 0 7px;
	color: var(--color-grey-50);
}

.copyRight a:hover {
	text-decoration: underline;
	color: var(--color-grey-200);
}

@media (max-width: 568px) {
	.footer {
		justify-content: center;
	}
	.footer nav {
		margin-top: 2rem;
	}

	.footer {
		font-size: var(--size-4);
	}

	.footer .icon {
		font-size: var(--size-6);
	}
}
